.navbar {
    display: flex;
    width: 100vh;
    height:5rem;
    flex-direction: column;
    background-color: salmon;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
}