.cassis {
  width: 500;
  height: 500;
}
.App-Container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";
  background-color: salmon;
}

.item1 {
  grid-row-start: 0;
  grid-row-end: 2;
  transform: rotate(90deg);
  margin: 10px;
  padding: 10px;
  box-shadow: ;
}
