.container {
  display: flex;
  flex-direction: column;
  background-color: turquoise;
}

.head {
  color: red;
}
p {
  display: flex;

  flex-direction: column;
}

h1 {
  display: flex;
  color: red;
  justify-content: center;
}
